testing.scala
Empty.class
Empty.tasty
Empty$.class

ImageProcessing.class
ImageProcessing.tasty
ImageProcessing$.class

Leaf.class
Leaf.tasty
Leaf$.class


mainObj.class
mainObj.tasty
mainObj$.class


Node.class
Node.tasty
Node$.class

Quadtree.class
Quadtree.tasty
Quadtree$.class